body {
    background-color: blueviolet;
}
p#inicio{
    border-top: 20px;
}
section{
    background: rgb(210, 221, 240);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
header{
    text-align: center;
    color: white;
}
footer{
    text-align: center;
}