body{
background-color: rgb(21, 88, 100);
text-align: center;
font: normal 20pt Arial;
}
header{
    color: white;
}
section{
    text-align: center;
    width: 540px;
    background-color: rgb(34, 55, 177);
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}
